spring:
  datasource:
    url: jdbc:mysql://localhost:3306/notes_app?useSSL=false&serverTimezone=UTC
    username: root
    password: root12345
    #    url: jdbc:mysql://eafinalproject.mysql.database.azure.com:3306/final_project_ea
    #    username: azure_root
    #    password: Root12345
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 9000

jwt:
  secret: 46a058ae25db9efe2cfeb17688aabab0cbbcd4b45cfcdd76a5a64bf97a55e67d
  expiration: 86400000